[[profile]]
name = "prod"
description = "Production server and CDN, and archive to archive SMB server"
targets = ["server_prod", "cdn_prod", "local_archive_system"]

[[profile]]
name = "local-dev"
description = "Local Development Server"
targets = ["dev_server_root"]

[[target]]
name = "server_prod"
type = "ssh"
source = "./example"
host = "example.com"
port = 22
user = "root"
dest = "/srv"
credential = "deploy_ssh_key"
clear = true

[[target]]
name = "cdn_prod"
type = "cos"
source = "./example"
bucket = "web-prod-114514"
region = "ap-guangzhou"
prefix = "/example"
accelerate = true
credential = "qcloud_api_token"
hash = ["md5", "sha1", "sha256", "sha512"]
clear = true

[[target]]
name = "dev_server_root"
type = "filesystem"
source = "./example"
dest = "./IIS/Default_Website"
clear = true

[[target]]
name = "local_archive_system"
type = "zip"
source = "./example"
prefix = "example/app"
archive = "X:\\IT\\Deploy Archives\\ExampleApp\\%Y-%m-%d.zip"
algorithm = "ZIP"

[[credential]]
name = "deploy_ssh_key"
private_key = """
-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----
"""

[[credential]]
name = "qcloud_api_token"
secret_id = "AKxxxxxxxxxxxxxxxxxxxxxxxxx"
secret_key = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
